// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Namecom from "../../../index.js";

export declare namespace ContactVerificationClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Use Contact Verification endpoints to query a reseller’s unverified domains/emails and to programmatically mark an end user’s email as verified if the reseller has already completed the verification process. These endpoints help resellers meet ICANN requirements by ensuring end users confirm they can receive email at their listed address.
 */
export class ContactVerificationClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ContactVerificationClient.Options>;

    constructor(options: ContactVerificationClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a list of contacts, related to domains within your account, that require verification as per ICANN procedures.
     * When a new domain is created, unverified contacts are not immediately available in API responses.  Records are added by a scheduled process that runs approximately every 10 minutes.  As a result, there may be up to a 10-minute delay before unverified contacts appear in the API. This delay also applies to related events such as webhooks or other downstream systems that depend on contact verification data.
     *
     * @param {Namecom.UnverifiedContactsListRequest} request
     * @param {ContactVerificationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Namecom.UnauthorizedError}
     * @throws {@link Namecom.ForbiddenError}
     * @throws {@link Namecom.MethodNotAllowedError}
     * @throws {@link Namecom.TooManyRequestsError}
     * @throws {@link Namecom.InternalServerError}
     * @throws {@link Namecom.BadGatewayError}
     * @throws {@link Namecom.GatewayTimeoutError}
     *
     * @example
     *     await client.contactVerification.unverifiedContactsList({
     *         perPage: 100,
     *         page: 2
     *     })
     */
    public unverifiedContactsList(
        request: Namecom.UnverifiedContactsListRequest = {},
        requestOptions?: ContactVerificationClient.RequestOptions,
    ): core.HttpResponsePromise<Namecom.UnverifiedContactsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__unverifiedContactsList(request, requestOptions));
    }

    private async __unverifiedContactsList(
        request: Namecom.UnverifiedContactsListRequest = {},
        requestOptions?: ContactVerificationClient.RequestOptions,
    ): Promise<core.WithRawResponse<Namecom.UnverifiedContactsResponse>> {
        const { perPage, page } = request;
        const _queryParams: Record<string, unknown> = {
            perPage,
            page,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NamecomEnvironment.Sandbox,
                "core/v1/contacts/unverified",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Namecom.UnverifiedContactsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Namecom.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Namecom.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 405:
                    throw new Namecom.MethodNotAllowedError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Namecom.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Namecom.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                case 502:
                    throw new Namecom.BadGatewayError(_response.error.body as unknown, _response.rawResponse);
                case 504:
                    throw new Namecom.GatewayTimeoutError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.NamecomError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/core/v1/contacts/unverified");
    }

    /**
     * Use this API to verify a contact.
     * This API is only available to approved reseller accounts. Contact name.com support to request access.
     *
     * @param {Namecom.VerifyContactRequest} request
     * @param {ContactVerificationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Namecom.UnauthorizedError}
     * @throws {@link Namecom.ForbiddenError}
     * @throws {@link Namecom.NotFoundError}
     * @throws {@link Namecom.MethodNotAllowedError}
     * @throws {@link Namecom.ConflictError}
     * @throws {@link Namecom.UnsupportedMediaTypeError}
     * @throws {@link Namecom.TooManyRequestsError}
     * @throws {@link Namecom.InternalServerError}
     * @throws {@link Namecom.BadGatewayError}
     * @throws {@link Namecom.GatewayTimeoutError}
     *
     * @example
     *     await client.contactVerification.verifyContact({
     *         "X-Idempotency-Key": "083910ef-04e4-4bd1-a0bf-3737fe005ca8",
     *         verificationId: 1
     *     })
     */
    public verifyContact(
        request: Namecom.VerifyContactRequest,
        requestOptions?: ContactVerificationClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__verifyContact(request, requestOptions));
    }

    private async __verifyContact(
        request: Namecom.VerifyContactRequest,
        requestOptions?: ContactVerificationClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { verificationId, "X-Idempotency-Key": idempotencyKey } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Idempotency-Key": idempotencyKey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NamecomEnvironment.Sandbox,
                `core/v1/contacts/verify/${core.url.encodePathParam(verificationId)}`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Namecom.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Namecom.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Namecom.NotFoundError(_response.error.body as Namecom.NotFound404, _response.rawResponse);
                case 405:
                    throw new Namecom.MethodNotAllowedError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new Namecom.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 415:
                    throw new Namecom.UnsupportedMediaTypeError(
                        _response.error.body as Namecom.UnsupportedMedia415,
                        _response.rawResponse,
                    );
                case 429:
                    throw new Namecom.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Namecom.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                case 502:
                    throw new Namecom.BadGatewayError(_response.error.body as unknown, _response.rawResponse);
                case 504:
                    throw new Namecom.GatewayTimeoutError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.NamecomError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/core/v1/contacts/verify/{verificationId}",
        );
    }

    /**
     * Resend the contact verification email for a pending verification record.
     *
     * ### Throttling
     * This endpoint enforces strict throttling to prevent abuse:
     * - Per `verificationId`: max 1 resend per 15 minutes
     * - Per reseller account: max 200 resends per rolling hour
     *
     * `nextEligibleAt` is always returned so the client knows when it can try again.
     *
     * On `429`, the response uses the standard error envelope, and `details` contains the earliest retry time (RFC3339 UTC).
     *
     * @param {Namecom.ResendContactVerificationEmailRequest} request
     * @param {ContactVerificationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Namecom.UnauthorizedError}
     * @throws {@link Namecom.ForbiddenError}
     * @throws {@link Namecom.NotFoundError}
     * @throws {@link Namecom.MethodNotAllowedError}
     * @throws {@link Namecom.ConflictError}
     * @throws {@link Namecom.UnsupportedMediaTypeError}
     * @throws {@link Namecom.TooManyRequestsError}
     * @throws {@link Namecom.InternalServerError}
     * @throws {@link Namecom.BadGatewayError}
     * @throws {@link Namecom.GatewayTimeoutError}
     *
     * @example
     *     await client.contactVerification.resendContactVerificationEmail({
     *         "X-Idempotency-Key": "083910ef-04e4-4bd1-a0bf-3737fe005ca8",
     *         verificationId: 1
     *     })
     */
    public resendContactVerificationEmail(
        request: Namecom.ResendContactVerificationEmailRequest,
        requestOptions?: ContactVerificationClient.RequestOptions,
    ): core.HttpResponsePromise<Namecom.ContactVerificationResendResponse> {
        return core.HttpResponsePromise.fromPromise(this.__resendContactVerificationEmail(request, requestOptions));
    }

    private async __resendContactVerificationEmail(
        request: Namecom.ResendContactVerificationEmailRequest,
        requestOptions?: ContactVerificationClient.RequestOptions,
    ): Promise<core.WithRawResponse<Namecom.ContactVerificationResendResponse>> {
        const { verificationId, "X-Idempotency-Key": idempotencyKey } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Idempotency-Key": idempotencyKey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NamecomEnvironment.Sandbox,
                `core/v1/contacts/verify/${core.url.encodePathParam(verificationId)}:resend`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Namecom.ContactVerificationResendResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Namecom.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Namecom.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Namecom.NotFoundError(_response.error.body as Namecom.NotFound404, _response.rawResponse);
                case 405:
                    throw new Namecom.MethodNotAllowedError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new Namecom.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 415:
                    throw new Namecom.UnsupportedMediaTypeError(
                        _response.error.body as Namecom.UnsupportedMedia415,
                        _response.rawResponse,
                    );
                case 429:
                    throw new Namecom.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Namecom.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                case 502:
                    throw new Namecom.BadGatewayError(_response.error.body as unknown, _response.rawResponse);
                case 504:
                    throw new Namecom.GatewayTimeoutError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.NamecomError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/core/v1/contacts/verify/{verificationId}/:resend",
        );
    }
}
