// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Namecom from "../../../index.js";

export declare namespace AccountInfoClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Use Account Info endpoints to retrieve basic information about your name.com account. For example, you can check your account’s current credit balance and other account details using these endpoints.
 */
export class AccountInfoClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AccountInfoClient.Options>;

    constructor(options: AccountInfoClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns the current account credit balance for the authenticated user.
     *
     * @param {AccountInfoClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Namecom.UnauthorizedError}
     * @throws {@link Namecom.ForbiddenError}
     * @throws {@link Namecom.MethodNotAllowedError}
     * @throws {@link Namecom.TooManyRequestsError}
     * @throws {@link Namecom.InternalServerError}
     * @throws {@link Namecom.BadGatewayError}
     * @throws {@link Namecom.GatewayTimeoutError}
     *
     * @example
     *     await client.accountInfo.checkAccountBalance()
     */
    public checkAccountBalance(
        requestOptions?: AccountInfoClient.RequestOptions,
    ): core.HttpResponsePromise<Namecom.CheckAccountBalanceResponse> {
        return core.HttpResponsePromise.fromPromise(this.__checkAccountBalance(requestOptions));
    }

    private async __checkAccountBalance(
        requestOptions?: AccountInfoClient.RequestOptions,
    ): Promise<core.WithRawResponse<Namecom.CheckAccountBalanceResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NamecomEnvironment.Default,
                "core/v1/accountinfo/balance",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Namecom.CheckAccountBalanceResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Namecom.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Namecom.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 405:
                    throw new Namecom.MethodNotAllowedError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Namecom.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Namecom.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                case 502:
                    throw new Namecom.BadGatewayError(_response.error.body as unknown, _response.rawResponse);
                case 504:
                    throw new Namecom.GatewayTimeoutError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.NamecomError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/core/v1/accountinfo/balance");
    }
}
