// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Namecom from "../../../index.js";

export declare namespace WebhookNotificationsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Use Webhook Notification endpoints to subscribe to real-time notifications for account and domain events. This keeps your application updated on important changes without polling the API.
 * Outbound webhook POSTs include an `X-NAMECOM-SIGNATURE` header. HMAC uses one API v4 token per account, chosen deterministically when multiple tokens exist (see HMAC Signature Verification in the developer docs). The signing input format is unchanged.
 */
export class WebhookNotificationsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<WebhookNotificationsClient.Options>;

    constructor(options: WebhookNotificationsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieves all active webhook subscriptions on the account.
     *
     * @param {WebhookNotificationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Namecom.UnauthorizedError}
     * @throws {@link Namecom.ForbiddenError}
     * @throws {@link Namecom.MethodNotAllowedError}
     * @throws {@link Namecom.TooManyRequestsError}
     * @throws {@link Namecom.InternalServerError}
     * @throws {@link Namecom.BadGatewayError}
     * @throws {@link Namecom.ServiceUnavailableError}
     * @throws {@link Namecom.GatewayTimeoutError}
     *
     * @example
     *     await client.webhookNotifications.getSubscribedNotifications()
     */
    public getSubscribedNotifications(
        requestOptions?: WebhookNotificationsClient.RequestOptions,
    ): core.HttpResponsePromise<Namecom.ListSubscribedWebhooksResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getSubscribedNotifications(requestOptions));
    }

    private async __getSubscribedNotifications(
        requestOptions?: WebhookNotificationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Namecom.ListSubscribedWebhooksResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NamecomEnvironment.Sandbox,
                "core/v1/notifications",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Namecom.ListSubscribedWebhooksResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Namecom.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Namecom.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 405:
                    throw new Namecom.MethodNotAllowedError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Namecom.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Namecom.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                case 502:
                    throw new Namecom.BadGatewayError(_response.error.body as unknown, _response.rawResponse);
                case 503:
                    throw new Namecom.ServiceUnavailableError(_response.error.body as unknown, _response.rawResponse);
                case 504:
                    throw new Namecom.GatewayTimeoutError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.NamecomError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/core/v1/notifications");
    }

    /**
     * Creates a webhook subscription to receive real-time notifications about specific domain or account events (e.g. transfer completions, renewals). Pass the callback URL and event types. This allows external systems to stay in sync with name.com changes.
     * Supported webhook event names:
     * - `account.credit.balance_change` – account credit balance changes (increases or decreases).
     * - `account.domain.removal` – domain removed from the subscribing account.
     * - `domain.lock.status_change` – domain lock added or removed.
     * - `domain.transfer.status_change` – domain transfer IN to name.com; status updates while name.com is the gaining registrar.
     * - `domain.transfer_out.status_change` – domain transfer OUT from name.com; `initiated`, `completed` (domain removed), or `canceled` (no longer pending at the registry).
     * - `domain.transfer.internal_in` - name.com domain transfers in to the subscribing account via internal transfer.
     * - `domain.transfer.internal_out` - name.com domain transfers out of the subscribing account via internal transfer.
     * - `contact.verification.status_change` - contact verification status changes (verified or unverified).
     * - `domain.registry.rejection` – domain **create** failed after asynchronous registry processing (uncommon; most creates succeed at request time).
     * - `domain.expiration` – domain has expired and entered the post-expiry grace period. This is informational only.
     *
     * @param {Namecom.SubscribeToNotification} request
     * @param {WebhookNotificationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Namecom.BadRequestError}
     * @throws {@link Namecom.UnauthorizedError}
     * @throws {@link Namecom.ForbiddenError}
     * @throws {@link Namecom.MethodNotAllowedError}
     * @throws {@link Namecom.ConflictError}
     * @throws {@link Namecom.UnsupportedMediaTypeError}
     * @throws {@link Namecom.TooManyRequestsError}
     * @throws {@link Namecom.InternalServerError}
     * @throws {@link Namecom.BadGatewayError}
     * @throws {@link Namecom.ServiceUnavailableError}
     * @throws {@link Namecom.GatewayTimeoutError}
     *
     * @example
     *     await client.webhookNotifications.subscribeToNotification({
     *         eventName: "account.credit.balance_change",
     *         url: "https://example.com",
     *         active: true
     *     })
     */
    public subscribeToNotification(
        request: Namecom.SubscribeToNotification,
        requestOptions?: WebhookNotificationsClient.RequestOptions,
    ): core.HttpResponsePromise<Namecom.SubscribeToNotificationResponse> {
        return core.HttpResponsePromise.fromPromise(this.__subscribeToNotification(request, requestOptions));
    }

    private async __subscribeToNotification(
        request: Namecom.SubscribeToNotification,
        requestOptions?: WebhookNotificationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Namecom.SubscribeToNotificationResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NamecomEnvironment.Sandbox,
                "core/v1/notifications",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Namecom.SubscribeToNotificationResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Namecom.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Namecom.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Namecom.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 405:
                    throw new Namecom.MethodNotAllowedError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new Namecom.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 415:
                    throw new Namecom.UnsupportedMediaTypeError(
                        _response.error.body as Namecom.UnsupportedMedia415,
                        _response.rawResponse,
                    );
                case 429:
                    throw new Namecom.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Namecom.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                case 502:
                    throw new Namecom.BadGatewayError(_response.error.body as unknown, _response.rawResponse);
                case 503:
                    throw new Namecom.ServiceUnavailableError(_response.error.body as unknown, _response.rawResponse);
                case 504:
                    throw new Namecom.GatewayTimeoutError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.NamecomError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/core/v1/notifications");
    }

    /**
     * Updates an existing webhook’s configuration.  This may include changing the callback URL or updating whether the webhook is currently active.
     *
     * @param {Namecom.ModifySubscriptionRequest} request
     * @param {WebhookNotificationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Namecom.UnauthorizedError}
     * @throws {@link Namecom.ForbiddenError}
     * @throws {@link Namecom.NotFoundError}
     * @throws {@link Namecom.MethodNotAllowedError}
     * @throws {@link Namecom.UnsupportedMediaTypeError}
     * @throws {@link Namecom.TooManyRequestsError}
     * @throws {@link Namecom.InternalServerError}
     * @throws {@link Namecom.BadGatewayError}
     * @throws {@link Namecom.ServiceUnavailableError}
     * @throws {@link Namecom.GatewayTimeoutError}
     *
     * @example
     *     await client.webhookNotifications.modifySubscription({
     *         id: 1,
     *         body: {
     *             url: "url"
     *         }
     *     })
     */
    public modifySubscription(
        request: Namecom.ModifySubscriptionRequest,
        requestOptions?: WebhookNotificationsClient.RequestOptions,
    ): core.HttpResponsePromise<Namecom.ModifySubscriptionResponse> {
        return core.HttpResponsePromise.fromPromise(this.__modifySubscription(request, requestOptions));
    }

    private async __modifySubscription(
        request: Namecom.ModifySubscriptionRequest,
        requestOptions?: WebhookNotificationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Namecom.ModifySubscriptionResponse>> {
        const { id, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NamecomEnvironment.Sandbox,
                `core/v1/notifications/${core.url.encodePathParam(id)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Namecom.ModifySubscriptionResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Namecom.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Namecom.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Namecom.NotFoundError(_response.error.body as Namecom.NotFound404, _response.rawResponse);
                case 405:
                    throw new Namecom.MethodNotAllowedError(_response.error.body as unknown, _response.rawResponse);
                case 415:
                    throw new Namecom.UnsupportedMediaTypeError(
                        _response.error.body as Namecom.UnsupportedMedia415,
                        _response.rawResponse,
                    );
                case 429:
                    throw new Namecom.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Namecom.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                case 502:
                    throw new Namecom.BadGatewayError(_response.error.body as unknown, _response.rawResponse);
                case 503:
                    throw new Namecom.ServiceUnavailableError(_response.error.body as unknown, _response.rawResponse);
                case 504:
                    throw new Namecom.GatewayTimeoutError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.NamecomError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/core/v1/notifications/{id}");
    }

    /**
     * Removes a webhook subscription from the account.
     *
     * @param {Namecom.DeleteSubscriptionRequest} request
     * @param {WebhookNotificationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Namecom.UnauthorizedError}
     * @throws {@link Namecom.ForbiddenError}
     * @throws {@link Namecom.NotFoundError}
     * @throws {@link Namecom.MethodNotAllowedError}
     * @throws {@link Namecom.TooManyRequestsError}
     * @throws {@link Namecom.InternalServerError}
     * @throws {@link Namecom.BadGatewayError}
     * @throws {@link Namecom.ServiceUnavailableError}
     * @throws {@link Namecom.GatewayTimeoutError}
     *
     * @example
     *     await client.webhookNotifications.deleteSubscription({
     *         id: 1
     *     })
     */
    public deleteSubscription(
        request: Namecom.DeleteSubscriptionRequest,
        requestOptions?: WebhookNotificationsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__deleteSubscription(request, requestOptions));
    }

    private async __deleteSubscription(
        request: Namecom.DeleteSubscriptionRequest,
        requestOptions?: WebhookNotificationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NamecomEnvironment.Sandbox,
                `core/v1/notifications/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Namecom.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Namecom.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Namecom.NotFoundError(_response.error.body as Namecom.NotFound404, _response.rawResponse);
                case 405:
                    throw new Namecom.MethodNotAllowedError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Namecom.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Namecom.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                case 502:
                    throw new Namecom.BadGatewayError(_response.error.body as unknown, _response.rawResponse);
                case 503:
                    throw new Namecom.ServiceUnavailableError(_response.error.body as unknown, _response.rawResponse);
                case 504:
                    throw new Namecom.GatewayTimeoutError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.NamecomError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/core/v1/notifications/{id}",
        );
    }
}
