// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Namecom from "../../../index.js";

export declare namespace OrdersClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Use Orders endpoints to review and track purchases made via the API.
 */
export class OrdersClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<OrdersClient.Options>;

    constructor(options: OrdersClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieves a list of all orders placed in the account.
     *
     * @param {Namecom.ListOrdersRequest} request
     * @param {OrdersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Namecom.UnauthorizedError}
     * @throws {@link Namecom.ForbiddenError}
     * @throws {@link Namecom.MethodNotAllowedError}
     * @throws {@link Namecom.TooManyRequestsError}
     * @throws {@link Namecom.InternalServerError}
     * @throws {@link Namecom.BadGatewayError}
     * @throws {@link Namecom.GatewayTimeoutError}
     *
     * @example
     *     await client.orders.listOrders()
     */
    public listOrders(
        request: Namecom.ListOrdersRequest = {},
        requestOptions?: OrdersClient.RequestOptions,
    ): core.HttpResponsePromise<Namecom.ListOrdersResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listOrders(request, requestOptions));
    }

    private async __listOrders(
        request: Namecom.ListOrdersRequest = {},
        requestOptions?: OrdersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Namecom.ListOrdersResponse>> {
        const {
            perPage,
            page,
            dir,
            domainName,
            tld,
            createDateStart,
            createDateEnd,
            type: type_,
            orderStatus,
        } = request;
        const _queryParams: Record<string, unknown> = {
            perPage,
            page,
            dir,
            domainName,
            tld,
            createDateStart,
            createDateEnd,
            type: type_,
            orderStatus: orderStatus != null ? orderStatus : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NamecomEnvironment.Sandbox,
                "core/v1/orders",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Namecom.ListOrdersResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Namecom.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Namecom.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 405:
                    throw new Namecom.MethodNotAllowedError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Namecom.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Namecom.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                case 502:
                    throw new Namecom.BadGatewayError(_response.error.body as unknown, _response.rawResponse);
                case 504:
                    throw new Namecom.GatewayTimeoutError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.NamecomError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/core/v1/orders");
    }

    /**
     * Fetches full details about a specific order using its ID. This includes domains, prices, and timestamps.  Useful for confirming transactions, receipts, or generating invoices.
     *
     * @param {Namecom.GetOrderRequest} request
     * @param {OrdersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Namecom.UnauthorizedError}
     * @throws {@link Namecom.ForbiddenError}
     * @throws {@link Namecom.NotFoundError}
     * @throws {@link Namecom.MethodNotAllowedError}
     * @throws {@link Namecom.TooManyRequestsError}
     * @throws {@link Namecom.InternalServerError}
     * @throws {@link Namecom.BadGatewayError}
     * @throws {@link Namecom.GatewayTimeoutError}
     *
     * @example
     *     await client.orders.getOrder({
     *         orderId: 1
     *     })
     */
    public getOrder(
        request: Namecom.GetOrderRequest,
        requestOptions?: OrdersClient.RequestOptions,
    ): core.HttpResponsePromise<Namecom.Order> {
        return core.HttpResponsePromise.fromPromise(this.__getOrder(request, requestOptions));
    }

    private async __getOrder(
        request: Namecom.GetOrderRequest,
        requestOptions?: OrdersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Namecom.Order>> {
        const { orderId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NamecomEnvironment.Sandbox,
                `core/v1/orders/${core.url.encodePathParam(orderId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Namecom.Order, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Namecom.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Namecom.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Namecom.NotFoundError(_response.error.body as Namecom.NotFound404, _response.rawResponse);
                case 405:
                    throw new Namecom.MethodNotAllowedError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Namecom.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Namecom.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                case 502:
                    throw new Namecom.BadGatewayError(_response.error.body as unknown, _response.rawResponse);
                case 504:
                    throw new Namecom.GatewayTimeoutError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.NamecomError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/core/v1/orders/{orderId}");
    }
}
