// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Namecom from "../../../index.js";

export declare namespace AccountsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Use Accounts endpoints (available upon request) to manage sub-accounts under your main account. For example, resellers can programmatically create new customer accounts with their own login credentials and permissions.
 */
export class AccountsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AccountsClient.Options>;

    constructor(options: AccountsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Creates a new sub-account under your authenticated reseller account and returns API credentials for the new account.  This endpoint is only available to approved reseller accounts. Contact name.com support to request access.
     *
     * @param {Namecom.CreateAccountRequest} request
     * @param {AccountsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Namecom.BadRequestError}
     * @throws {@link Namecom.UnauthorizedError}
     * @throws {@link Namecom.ForbiddenError}
     * @throws {@link Namecom.MethodNotAllowedError}
     * @throws {@link Namecom.UnsupportedMediaTypeError}
     * @throws {@link Namecom.TooManyRequestsError}
     * @throws {@link Namecom.InternalServerError}
     * @throws {@link Namecom.BadGatewayError}
     * @throws {@link Namecom.GatewayTimeoutError}
     *
     * @example
     *     await client.accounts.createAccount({
     *         account: {
     *             accountName: "reseller_subaccount",
     *             contacts: {
     *                 registrant: {
     *                     firstName: "Jane",
     *                     lastName: "Doe",
     *                     address1: "123 Main St.",
     *                     city: "Denver",
     *                     state: "CO",
     *                     zip: "12345",
     *                     country: "US",
     *                     email: "admin@example.net",
     *                     phone: "+13035551212"
     *                 }
     *             },
     *             password: "SecureP4ss!"
     *         },
     *         apiTos: true,
     *         tos: true
     *     })
     */
    public createAccount(
        request: Namecom.CreateAccountRequest,
        requestOptions?: AccountsClient.RequestOptions,
    ): core.HttpResponsePromise<Namecom.CreateAccountResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createAccount(request, requestOptions));
    }

    private async __createAccount(
        request: Namecom.CreateAccountRequest,
        requestOptions?: AccountsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Namecom.CreateAccountResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NamecomEnvironment.Sandbox,
                "core/v1/accounts",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Namecom.CreateAccountResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Namecom.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Namecom.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Namecom.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 405:
                    throw new Namecom.MethodNotAllowedError(_response.error.body as unknown, _response.rawResponse);
                case 415:
                    throw new Namecom.UnsupportedMediaTypeError(
                        _response.error.body as Namecom.UnsupportedMedia415,
                        _response.rawResponse,
                    );
                case 429:
                    throw new Namecom.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Namecom.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                case 502:
                    throw new Namecom.BadGatewayError(_response.error.body as unknown, _response.rawResponse);
                case 504:
                    throw new Namecom.GatewayTimeoutError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.NamecomError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/core/v1/accounts");
    }
}
