// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Namecom from "../../../index.js";

export declare namespace TransfersClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Use Transfers endpoints to move domains into your name.com account. Start by creating a transfer request for inbound transfers from **external** registrars, then monitor and manage the status of pending transfers. Use **internal transfer in** to pull a domain from another name.com account into your reseller account (enterprise allowlist; requires auth code from the losing account’s dashboard). You can cancel an incoming transfer if needed, or cancel an outbound transfer (domain leaving name.com) via the external transfer-out cancel endpoint. Use the **transfer eligibility** endpoint to check whether a domain is currently at name.com before initiating a transfer, so you can route to the correct flow (external vs internal transfer).
 */
export class TransfersClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TransfersClient.Options>;

    constructor(options: TransfersClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns all domain transfer requests for the account, including in-progress and recent transfers.
     *
     * @param {Namecom.ListTransfersRequest} request
     * @param {TransfersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Namecom.BadRequestError}
     * @throws {@link Namecom.UnauthorizedError}
     * @throws {@link Namecom.PaymentRequiredError}
     * @throws {@link Namecom.ForbiddenError}
     * @throws {@link Namecom.MethodNotAllowedError}
     * @throws {@link Namecom.TooManyRequestsError}
     * @throws {@link Namecom.InternalServerError}
     * @throws {@link Namecom.BadGatewayError}
     * @throws {@link Namecom.GatewayTimeoutError}
     *
     * @example
     *     await client.transfers.listTransfers()
     */
    public listTransfers(
        request: Namecom.ListTransfersRequest = {},
        requestOptions?: TransfersClient.RequestOptions,
    ): core.HttpResponsePromise<Namecom.ListTransfersResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listTransfers(request, requestOptions));
    }

    private async __listTransfers(
        request: Namecom.ListTransfersRequest = {},
        requestOptions?: TransfersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Namecom.ListTransfersResponse>> {
        const { perPage, page } = request;
        const _queryParams: Record<string, unknown> = {
            perPage,
            page,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NamecomEnvironment.Sandbox,
                "core/v1/transfers",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Namecom.ListTransfersResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Namecom.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Namecom.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 402:
                    throw new Namecom.PaymentRequiredError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Namecom.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 405:
                    throw new Namecom.MethodNotAllowedError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Namecom.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Namecom.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                case 502:
                    throw new Namecom.BadGatewayError(_response.error.body as unknown, _response.rawResponse);
                case 504:
                    throw new Namecom.GatewayTimeoutError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.NamecomError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/core/v1/transfers");
    }

    /**
     * Initiates a domain transfer into your name.com account from another registrar. You must provide the domain name and its valid transfer authorization code (EPP code). The domain must not be locked or under any transfer restrictions (e.g. clientTransferProhibited). If successful, the transfer is submitted and tracked through the ICANN transfer process. Once a transfer has been created, you can track its progress via the [GetTransfer](/api/v1/reference/transfers/get-transfer) endpoint.
     * **Transfer pricing:** Omit `purchasePrice` for standard (non-premium) transfers. For premium transfers, pass `transferPrice` from [Get Pricing For Domain](/api/v1/reference/domains/get-pricing-for-domain) as `purchasePrice`. If sent, it must match Get Pricing `transferPrice` exactly or the request will fail. Premium transfers without `purchasePrice` will fail. See the [Domain pricing guide](/guides/domain-pricing) for how [Get Pricing](/api/v1/reference/domains/get-pricing-for-domain) `transferPrice` relates to the `years` query parameter.
     *
     * @param {Namecom.CreateTransferRequest} request
     * @param {TransfersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Namecom.BadRequestError}
     * @throws {@link Namecom.UnauthorizedError}
     * @throws {@link Namecom.PaymentRequiredError}
     * @throws {@link Namecom.ForbiddenError}
     * @throws {@link Namecom.MethodNotAllowedError}
     * @throws {@link Namecom.ConflictError}
     * @throws {@link Namecom.UnsupportedMediaTypeError}
     * @throws {@link Namecom.UnprocessableEntityError}
     * @throws {@link Namecom.TooManyRequestsError}
     * @throws {@link Namecom.InternalServerError}
     * @throws {@link Namecom.BadGatewayError}
     * @throws {@link Namecom.GatewayTimeoutError}
     *
     * @example
     *     await client.transfers.createTransfer({
     *         authCode: "ABC123",
     *         domainName: "example.com"
     *     })
     */
    public createTransfer(
        request: Namecom.CreateTransferRequest,
        requestOptions?: TransfersClient.RequestOptions,
    ): core.HttpResponsePromise<Namecom.CreateTransferResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createTransfer(request, requestOptions));
    }

    private async __createTransfer(
        request: Namecom.CreateTransferRequest,
        requestOptions?: TransfersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Namecom.CreateTransferResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NamecomEnvironment.Sandbox,
                "core/v1/transfers",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Namecom.CreateTransferResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Namecom.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Namecom.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 402:
                    throw new Namecom.PaymentRequiredError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Namecom.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 405:
                    throw new Namecom.MethodNotAllowedError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new Namecom.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 415:
                    throw new Namecom.UnsupportedMediaTypeError(
                        _response.error.body as Namecom.UnsupportedMedia415,
                        _response.rawResponse,
                    );
                case 422:
                    throw new Namecom.UnprocessableEntityError(
                        _response.error.body as Namecom.UnprocessableEntity422,
                        _response.rawResponse,
                    );
                case 429:
                    throw new Namecom.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Namecom.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                case 502:
                    throw new Namecom.BadGatewayError(_response.error.body as unknown, _response.rawResponse);
                case 504:
                    throw new Namecom.GatewayTimeoutError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.NamecomError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/core/v1/transfers");
    }

    /**
     * Retrieves details of a specific domain transfer request.
     *
     * @param {Namecom.GetTransferRequest} request
     * @param {TransfersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Namecom.UnauthorizedError}
     * @throws {@link Namecom.ForbiddenError}
     * @throws {@link Namecom.NotFoundError}
     * @throws {@link Namecom.MethodNotAllowedError}
     * @throws {@link Namecom.UnprocessableEntityError}
     * @throws {@link Namecom.TooManyRequestsError}
     * @throws {@link Namecom.InternalServerError}
     * @throws {@link Namecom.BadGatewayError}
     * @throws {@link Namecom.GatewayTimeoutError}
     *
     * @example
     *     await client.transfers.getTransfer({
     *         domainName: "domainName"
     *     })
     */
    public getTransfer(
        request: Namecom.GetTransferRequest,
        requestOptions?: TransfersClient.RequestOptions,
    ): core.HttpResponsePromise<Namecom.Transfer> {
        return core.HttpResponsePromise.fromPromise(this.__getTransfer(request, requestOptions));
    }

    private async __getTransfer(
        request: Namecom.GetTransferRequest,
        requestOptions?: TransfersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Namecom.Transfer>> {
        const { domainName } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NamecomEnvironment.Sandbox,
                `core/v1/transfers/${core.url.encodePathParam(domainName)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Namecom.Transfer, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Namecom.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Namecom.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Namecom.NotFoundError(_response.error.body as Namecom.NotFound404, _response.rawResponse);
                case 405:
                    throw new Namecom.MethodNotAllowedError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Namecom.UnprocessableEntityError(
                        _response.error.body as Namecom.UnprocessableEntity422,
                        _response.rawResponse,
                    );
                case 429:
                    throw new Namecom.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Namecom.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                case 502:
                    throw new Namecom.BadGatewayError(_response.error.body as unknown, _response.rawResponse);
                case 504:
                    throw new Namecom.GatewayTimeoutError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.NamecomError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/core/v1/transfers/{domainName}",
        );
    }

    /**
     * Cancels a pending transfer request. This can be used if the transfer was initiated in error or if the authorization code provided was incorrect.
     * The price of the transfer will refund the amount to account credit.
     *
     * Cancelable statuses:
     * - pending
     * - submitting_transfer
     * - pending_new_auth_code
     * - pending_unlock
     * - pending_registry_unlock
     * - rejected
     *
     * Non-cancelable statuses:
     * - pending_transfer
     * - pending_insert
     * - completed
     * - failed
     * - canceled
     * - canceled_pending_refund
     *
     * @param {Namecom.CancelTransferRequest} request
     * @param {TransfersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Namecom.BadRequestError}
     * @throws {@link Namecom.UnauthorizedError}
     * @throws {@link Namecom.ForbiddenError}
     * @throws {@link Namecom.NotFoundError}
     * @throws {@link Namecom.MethodNotAllowedError}
     * @throws {@link Namecom.ConflictError}
     * @throws {@link Namecom.UnsupportedMediaTypeError}
     * @throws {@link Namecom.TooManyRequestsError}
     * @throws {@link Namecom.InternalServerError}
     * @throws {@link Namecom.BadGatewayError}
     * @throws {@link Namecom.GatewayTimeoutError}
     *
     * @example
     *     await client.transfers.cancelTransfer({
     *         domainName: "domainName"
     *     })
     */
    public cancelTransfer(
        request: Namecom.CancelTransferRequest,
        requestOptions?: TransfersClient.RequestOptions,
    ): core.HttpResponsePromise<Namecom.Transfer> {
        return core.HttpResponsePromise.fromPromise(this.__cancelTransfer(request, requestOptions));
    }

    private async __cancelTransfer(
        request: Namecom.CancelTransferRequest,
        requestOptions?: TransfersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Namecom.Transfer>> {
        const { domainName } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NamecomEnvironment.Sandbox,
                `core/v1/transfers/${core.url.encodePathParam(domainName)}:cancel`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Namecom.Transfer, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Namecom.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Namecom.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Namecom.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Namecom.NotFoundError(_response.error.body as Namecom.NotFound404, _response.rawResponse);
                case 405:
                    throw new Namecom.MethodNotAllowedError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new Namecom.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 415:
                    throw new Namecom.UnsupportedMediaTypeError(
                        _response.error.body as Namecom.UnsupportedMedia415,
                        _response.rawResponse,
                    );
                case 429:
                    throw new Namecom.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Namecom.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                case 502:
                    throw new Namecom.BadGatewayError(_response.error.body as unknown, _response.rawResponse);
                case 504:
                    throw new Namecom.GatewayTimeoutError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.NamecomError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/core/v1/transfers/{domainName}/:cancel",
        );
    }

    /**
     * Cancels an outbound transfer for the given domain. Use this when the domain is being transferred out of name.com (losing registrar) to another (gaining) registrar and the registrant or reseller wants to cancel that transfer.
     * On success, subscribers receive `domain.transfer_out.status_change` with status `canceled`.
     * The endpoint validates that the domain exists and belongs to the authenticated account. Only domains in a pending transfer (out) state can be canceled.
     *
     * @param {Namecom.CancelOutboundTransferRequest} request
     * @param {TransfersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Namecom.UnauthorizedError}
     * @throws {@link Namecom.ForbiddenError}
     * @throws {@link Namecom.NotFoundError}
     * @throws {@link Namecom.MethodNotAllowedError}
     * @throws {@link Namecom.ConflictError}
     * @throws {@link Namecom.UnsupportedMediaTypeError}
     * @throws {@link Namecom.UnprocessableEntityError}
     * @throws {@link Namecom.TooManyRequestsError}
     * @throws {@link Namecom.InternalServerError}
     * @throws {@link Namecom.BadGatewayError}
     * @throws {@link Namecom.GatewayTimeoutError}
     *
     * @example
     *     await client.transfers.cancelOutboundTransfer({
     *         domainName: "example.com"
     *     })
     */
    public cancelOutboundTransfer(
        request: Namecom.CancelOutboundTransferRequest,
        requestOptions?: TransfersClient.RequestOptions,
    ): core.HttpResponsePromise<Namecom.CancelTransferOutResponse> {
        return core.HttpResponsePromise.fromPromise(this.__cancelOutboundTransfer(request, requestOptions));
    }

    private async __cancelOutboundTransfer(
        request: Namecom.CancelOutboundTransferRequest,
        requestOptions?: TransfersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Namecom.CancelTransferOutResponse>> {
        const { domainName } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NamecomEnvironment.Sandbox,
                `core/v1/transfers/external/out/${core.url.encodePathParam(domainName)}:cancel`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Namecom.CancelTransferOutResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Namecom.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Namecom.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Namecom.NotFoundError(_response.error.body as Namecom.NotFound404, _response.rawResponse);
                case 405:
                    throw new Namecom.MethodNotAllowedError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new Namecom.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 415:
                    throw new Namecom.UnsupportedMediaTypeError(
                        _response.error.body as Namecom.UnsupportedMedia415,
                        _response.rawResponse,
                    );
                case 422:
                    throw new Namecom.UnprocessableEntityError(
                        _response.error.body as Namecom.UnprocessableEntity422,
                        _response.rawResponse,
                    );
                case 429:
                    throw new Namecom.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Namecom.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                case 502:
                    throw new Namecom.BadGatewayError(_response.error.body as unknown, _response.rawResponse);
                case 504:
                    throw new Namecom.GatewayTimeoutError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.NamecomError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/core/v1/transfers/external/out/{domainName}/:cancel",
        );
    }

    /**
     * Pulls a domain from another [name.com](https://www.name.com) account into your reseller (gaining) account using a valid authorization code. This is an **internal** name.com-to-name.com move; it is separate from [Create Transfer](/api/v1/reference/transfers/create-transfer), which brings domains in from **external** registrars.
     * Check if a TLD is eligible for internal transfer in by calling [Tld Requirements](/api/v1/reference/domaininfo/requirementsV2) for the TLD and checking property `supportsInternalTransfer`.
     * This API is only available to approved reseller accounts. Contact name.com support to request access.
     * #### Losing account (dashboard only)
     * The party that holds the domain today must use the name.com dashboard on the **losing** account to **unlock** the domain (remove registrar transfer lock) and to **copy the authorization code** to provide to your integration. This endpoint does not unlock the domain or retrieve the auth code for the losing account.
     * #### Gaining account (this API)
     * Call this endpoint with `domainName`, `authCode`, and optional `contacts` using the **gaining** reseller's API credentials.
     * #### Contacts and post-transfer lock
     * If `contacts` is omitted, the gaining account's default contacts are applied. If `contacts` is provided, any roles included in the request are applied and omitted roles use the gaining account's default contacts (same pattern as [Create Domain](/api/v1/reference/domains/create-domain) and [Set Contacts](/api/v1/reference/domains/set-contacts)). The 60-day contact-change transfer lock is enforced based on the **gaining** account's settings, consistent with Set Contacts.
     * #### Access
     * Restricted to approved enterprise resellers; other callers receive `403 Forbidden`.
     *
     * @param {Namecom.CreateInternalTransferInRequest} request
     * @param {TransfersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Namecom.BadRequestError}
     * @throws {@link Namecom.UnauthorizedError}
     * @throws {@link Namecom.ForbiddenError}
     * @throws {@link Namecom.NotFoundError}
     * @throws {@link Namecom.MethodNotAllowedError}
     * @throws {@link Namecom.ConflictError}
     * @throws {@link Namecom.UnsupportedMediaTypeError}
     * @throws {@link Namecom.TooManyRequestsError}
     * @throws {@link Namecom.InternalServerError}
     * @throws {@link Namecom.BadGatewayError}
     * @throws {@link Namecom.GatewayTimeoutError}
     *
     * @example
     *     await client.transfers.createInternalTransferIn({
     *         domainName: "example.com",
     *         authCode: "ABC123"
     *     })
     */
    public createInternalTransferIn(
        request: Namecom.CreateInternalTransferInRequest,
        requestOptions?: TransfersClient.RequestOptions,
    ): core.HttpResponsePromise<Namecom.DomainResponsePayload> {
        return core.HttpResponsePromise.fromPromise(this.__createInternalTransferIn(request, requestOptions));
    }

    private async __createInternalTransferIn(
        request: Namecom.CreateInternalTransferInRequest,
        requestOptions?: TransfersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Namecom.DomainResponsePayload>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NamecomEnvironment.Sandbox,
                "core/v1/transfers/internal/in",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Namecom.DomainResponsePayload, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Namecom.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Namecom.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Namecom.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Namecom.NotFoundError(_response.error.body as Namecom.NotFound404, _response.rawResponse);
                case 405:
                    throw new Namecom.MethodNotAllowedError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new Namecom.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 415:
                    throw new Namecom.UnsupportedMediaTypeError(
                        _response.error.body as Namecom.UnsupportedMedia415,
                        _response.rawResponse,
                    );
                case 429:
                    throw new Namecom.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Namecom.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                case 502:
                    throw new Namecom.BadGatewayError(_response.error.body as unknown, _response.rawResponse);
                case 504:
                    throw new Namecom.GatewayTimeoutError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.NamecomError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/core/v1/transfers/internal/in",
        );
    }

    /**
     * Returns whether a domain is currently registered at [name.com](https://www.name.com) and whether the TLD supports internal transfer between name.com accounts. Use this to decide whether to send your user through the [Create Transfer](/api/v1/reference/transfers/create-transfer) external transfer flow or the [Create Internal Transfer In](/api/v1/reference/transfers/create-internal-transfer-in) flow before initiating a transfer-in.
     *
     * #### Response semantics
     *
     * `atName` is `true` if the domain is currently registered at name.com in any account. This information is also publicly available via RDAP.
     *
     * `supportsInternalTransfer` mirrors the TLD-level value returned by [Tld Requirements](/api/v1/reference/domain-info/get-specific-tld-requirements). It indicates whether the TLD is eligible for internal transfer between name.com accounts. It does not reflect per-account allowlist eligibility — if your account is not allowlisted for internal transfer in, calling [Create Internal Transfer In](/api/v1/reference/transfers/create-internal-transfer-in) will return `403 Forbidden`.
     *
     * #### Privacy
     *
     * This endpoint never reveals which account a domain is in. To check whether a domain is in your own account, use [Get Domain](/api/v1/reference/domains/get-domain) instead.
     *
     * @param {Namecom.GetTransferEligibilityRequest} request
     * @param {TransfersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Namecom.BadRequestError}
     * @throws {@link Namecom.UnauthorizedError}
     * @throws {@link Namecom.ForbiddenError}
     * @throws {@link Namecom.MethodNotAllowedError}
     * @throws {@link Namecom.UnprocessableEntityError}
     * @throws {@link Namecom.TooManyRequestsError}
     * @throws {@link Namecom.InternalServerError}
     * @throws {@link Namecom.BadGatewayError}
     * @throws {@link Namecom.GatewayTimeoutError}
     *
     * @example
     *     await client.transfers.getTransferEligibility({
     *         domainName: "domainName"
     *     })
     */
    public getTransferEligibility(
        request: Namecom.GetTransferEligibilityRequest,
        requestOptions?: TransfersClient.RequestOptions,
    ): core.HttpResponsePromise<Namecom.TransferEligibilityResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getTransferEligibility(request, requestOptions));
    }

    private async __getTransferEligibility(
        request: Namecom.GetTransferEligibilityRequest,
        requestOptions?: TransfersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Namecom.TransferEligibilityResponse>> {
        const { domainName } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.NamecomEnvironment.Sandbox,
                `core/v1/transfers/eligibility/${core.url.encodePathParam(domainName)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Namecom.TransferEligibilityResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Namecom.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Namecom.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Namecom.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 405:
                    throw new Namecom.MethodNotAllowedError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Namecom.UnprocessableEntityError(
                        _response.error.body as Namecom.UnprocessableEntity422,
                        _response.rawResponse,
                    );
                case 429:
                    throw new Namecom.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Namecom.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                case 502:
                    throw new Namecom.BadGatewayError(_response.error.body as unknown, _response.rawResponse);
                case 504:
                    throw new Namecom.GatewayTimeoutError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.NamecomError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/core/v1/transfers/eligibility/{domainName}",
        );
    }
}
